@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/sizing.scss';

$iconSize: 100px;
$mobileIconSize: 75px;

.homeLink {
  @include boxShadow();

  align-items: center;
  background: $gray-80;
  border-radius: 15%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  transition: 0.5s all;

  svg {
    fill: $gray-30;
    height: $iconSize;
    transition: 0.5s all;
    width: $iconSize;
  }

  &:hover {
    border-radius: 10%;
    transform: scale(1.1);

    svg {
      fill: $gray-2-5;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .homeLink {
    margin: 15px;

    svg {
      height: $mobileIconSize;
      width: $mobileIconSize;
    }
  }
}
